:root {
    --darkGreen: #4F6F52;
    --darkishGreen: #739072;
    --green: #86A789;
    --veryLightGreen: #D2E3C8;
}
.headerPage {
	background-color: var(--darkGreen);
	color: var(--veryLightGreen);
	min-width: 100%;
	text-align: center;
}

.headerPage h3, .list {
    margin: 0;
    padding: 1em;
}

body {
    background-color: var(--darkishGreen);
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    border: 1px dotted grey;
}

.box {
    flex: 0 1 auto;
}

.personDetails {
	margin-left: 1em;
	display: flex;
	flex-direction: column;
    width: 50%;
}

.disFlex, .aliUserIcon {
	display: flex;
	align-items: center;
}

.disFlex {
	max-width: 40em;
	padding-top: 1.2em;
}

.aliUserIcon {
    width: 40em;
	height: 3.6em;
}

.list {
	list-style-type: none;
	display: block;
    margin: auto;
	padding: 1em;
	background-color: var(--darkishGreen);
	color: var(--veryLightGreen);
	max-width: 40em;
}

.dFlex {
	display: flex;
}

.fDir {
    flex-direction: column;
}

.spBetween {
    justify-content: space-between;
}

.alItems {
    align-items: center;
}

.w100Mar {
    width: 100%;
    margin-left: 0.6em;
}

.lineStyle {
    color : var(--veryLightGreen);
    opacity: 0.5;
}

.contactInfo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.contactInfo svg {
    margin-right: 0.3em;
}

.namePerson {
    font-weight: 600;
    font-size: larger;
}

.personInfo {
    height: 3.7em;
    margin-bottom: 1em;
}

.disFlex:hover {
    background-color: var(--green);

}

.pRight {
    padding-right: 1em;
}

.aliUserIcon:first-child {
    padding-left: 1em;
}

.svgIcon {
	display: flex;
	align-self: baseline;
}

.resetSpan {
    margin:0; 
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
    padding: 0.25em;
    border-radius: 50%;
    height: 1.4em;
    width: 1.4em;
}

.resetSpan:hover {
    background-color: var(--darkishGreen);
    cursor: pointer;
}

.deleteuser {
    background-image: url("data:image/svg+xml, <svg stroke=\"white\" fill=\"white\" stroke-width=\"0\" viewBox=\"0 0 448 512\" height=\"1em\" width=\"1em\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z\"></path></svg>");
    background-repeat: no-repeat;
    background-position: center right calc(0.28em + 0.1875rem);
}

.arIcons {
    flex-direction: row;
    display: flex;
}

.btnDiv {
	display: flex;
	justify-content: end;
	height: 5em;
	align-items: center;
	padding-right: 6em;
}

.addPeopleBtn {
    height: 2.4em;
    background-color: var(--veryLightGreen);
    color: var(--darkGreen);
}

.addPeopleBtn:hover {
    background-color: #BAD4AA;
    transition: background-color 0.25s;
}

/*__Forms__*/
.groupForm {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	border: 1px solid whitesmoke;
	padding: 21px;
	border-radius: 4px;
    position: absolute;
    visibility: hidden;
}

.inpBox {
	margin-bottom: 1.5rem;
	position: relative;
	width: 20.437rem;
}

.inpUnderlined > input,
.inpUnderlined > select{
    border: none;
    border-bottom: 0.125rem solid gray;
    width: 100%;
    height: 2em;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
}

.inpUnderlined > input:focus,
.inpUnderlined > select:focus {
    outline: none;
}

.inpUnderlined > .inpLabel{
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--darkGreen);
    transition: top .2s;
}

.inpUnderlined > .inpLabel{
    font-size: 0.9375rem;
    color: var(--darkishGreen);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.inpUnderlined > input:hover,
.inpUnderlined > select:hover{
    background: var(--veryLightGreen);
    border-color: var(--darkishGreen);
}

.inpUnderlined > input:focus +
.inpLabel,
.inpUnderlined > input:valid +
.inpLabel,
.inpUnderlined > select:focus +
.inpLabel,
.inpUnderlined > select:valid +
.inpLabel{
    top:0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
}

.inpUnderlined > input:focus +
.inpLabel,
.inpUnderlined > select:focus +
.inpLabel{
    color: var(--darkGreen);
}

.inpUnderlined > input:focus,
.inpUnderlined > select:focus{
    border-color: var(--darkGreen);
}

.inpUnderlined > select {
	height: 3.2em;
	background-color: #FFF;
    width: 105%;
}

.groupForm {
    position: 'absolute';
    visibility: 'hidden';
    margin-top: 30px;
}

.aniFormDown {
    animation-duration: 0.15s;
    animation-name: animateForm;
    animation-fill-mode: revert;
    &.aniFormDown{
        position: initial;
        visibility: visible;
    }
}

@keyframes animateForm {
    0%{
        transform: translateY(0vh);
        opacity: 0;
    }
    100%{
        transform: translateY(1vh);
        opacity: 1;
    }
}

#root {
    background-color: var(--darkishGreen);
    display: flex;
    flex-direction: column;
}

#root .box {
    flex-grow: 1;
}

.aniFormUp {
    animation-name: animateFormUp;
    &.aniFormUp{
        position: absolute;
        visibility: hidden;
    }
}

@keyframes animateFormUp {
    0%{
        transform: translateY(1vh);
        opacity: 1;
    }
    100%{
        transform: translateY(0vh);
        opacity: 0;
    }
}